@import "../../styles/variables";

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  margin-bottom: 1.6rem;

  &__img {
    width: 12rem;
    height: auto;
  }
}
