@import "./styles/variables";

.App {
  &__main {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
  }

  &__content {
    gap: 3.2rem;
    padding: 0 3.2rem;
    flex: 1;
    overflow-x: scroll;
  }

  &__pokemon {
    list-style: none;
    display: grid;
    padding: 2.4rem 0;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1.6rem;
  }
}
